.food-card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    position: relative;
    background-color: #fff;
    
}
.food-card:hover{
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: rotate(-1deg);
    cursor: pointer;
}
.food-card-title{
    text-align: center;
    font-size: 25px;
    margin: 0;
}
.food-card-image{
    width:100%;
    border-radius: 10px;
    height: 180px;
}
.ice-cream-header{
    text-align: center;
color: black;
    
    font-size: 45px;
    margin: 20px 0;
}
.ice-cream-card-price{
    font-size: 20px;
}
.ice-cream-card-button{
    background-color: rgb(171, 227, 227);
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}
.ice-cream-card-button:hover{
    background-color: rgb(52, 153, 178);
}